*{
    font-family: "Poppins";
}

.container {
    width: 100;
    height: 100vh;
}

.title {
    text-align: center;
    margin: 1;
}

.chapters {
    height: 100%;
    width: 100%;
    text-align: center;
}

.chapter1 {
    padding: 0;
    margin: 0.5em;
}

.chapter2 {
    padding: 0;
    margin: 0.5em;
}

.chapter3 {
    padding: 0;
    margin: 0.5em;
}

.chapter4 {
    padding: 0;
    margin: 0.5em;
}

.chapter5 {
    padding: 0;
    margin: 0.5em;
}
